<h1>Robot</h1>
<%= @robot.id %>
<%= @robot.name %>
<img src="https://robohash.org/<%= @robot.avatar %>.png">
<a href="/robots/<%= @robot.id %>/edit">Edit</a>

<form action="/robots/<%= @robot.id %>" method="post">
  <input type="hidden" name="_method" value="delete" />
  <input type="submit" value="delete" />
</form>
